<h1 class="col-md-12">Meme Templates</h1>

<div class="col-md-8 col-xs-12">
<h3>Established Memes (more than 5 instances)</h3>
  <div class="established meme_types">
  <%- @established.each { |mt| %>
        <%= link_to image_tag(mt.template(:tiny), class: "thumbnail"), meme_type_path(mt) %>
  <%- } %>
  </div>
</div>

<div class="col-md-4 col-xs-12">
<h3>The Long Tail</h3>
  <div class="long-tail meme_types">
  <div class="list-group">
  <%- @long_tail.each { |mt| %>
       <%= link_to "#{mt.name} <span class=\"badge\">#{mt.instance_count}</span>".html_safe, meme_type_path(mt), class: "list-group-item" %> 
  <%-  } %>
  </div>
  </div>
</div>
