<table id="memes" class="table striped">
<%- @memes.each do |m| %>
  <tr id="<%= m.id %>">
    <td><%= link_to m.meme_type.name, meme_type_path(m.meme_type.id) %></td>
    <td><%= m.link_title %></td>
    <td><%= m.meme_caption %></td>
  </tr>
<%- end %>
</table>
