<div class="memes-image-rows">

<div class="row">
<% counter = 0 %>
<%- @memes.each do |m| %>
  <% counter += 1 %>
  <%= render partial: "memes/meme_medium", object: m, as: :meme %>
  <div class="clearfix visible-xs-block"></div>
  <%- if counter % 3 == 0 %>
    </div><div class="row">
  <%- end %>
  
<%- end %>

</div>