body {
  padding: 0 10px;
}
main {
  padding: 0 10px;
}

ul#nav li a {
	padding-left: 3px;
	padding-right: 0px;
}
ul#nav li {
	padding-right: 12px;
}

div#user_data {
  margin-left:16px;
}
ul#user_stats_metadata {
  display:inline;
  list-style: none;
}
ul#user_stats_metadata li {
  display:inline;
  margin-right: 10px;
}

div.flash_agree,
div.flash_disagree {
  display: block;
  font-weight: bold;
  font-size: 24px;
  color: white;
  text-indent: 1em;
}
div.flash_agree {   background-color: green; }
div.flash_disagree { background-color: red; }

body#application.index table#meme_type_stats tr.significant td {
  font-weight: bold;
}
body#application.index table#meme_type_stats tr.insignificant td {
  color: #AAA;
}

body#application.index section#leaderboard table tr.mine { 
  font-weight: bold;
  background-color: yellow;
}

/* For page elements that should only display when the user is signed in */
.when_signedin {
    display: none;
}

/* If the user is signed in (and it requires signin) OR if the element should only
   display when the user is NOT signed in */
.sign_in_required,
body.signed_in .when_signedin { 
	display: inline;
}

body.signed_in .signin_required {
    display: none;
}

body#devise_sessions.new a.authbutton {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
body#devise_sessions.new a.authbutton i.fa {
	font-size: 24px;
	margin-right: 8px;
}

body#devise_sessions.new a.authbutton.facebook {
	background-color: #3b5998;
}

body.about main {
  font-size: 20px;
}
body.about main h2,
body#devise_sessions.new h2 {
  font-weight: bold;
  font-size: 42px;
}
body.about main h3,
body#devise_sessions.new h3 {
  font-size: 32px;
  font-weight: bold;
}
body.about main h4,
body#devise_sessions.new h4 {
  font-size: 24px;
  font-weight: bold;
}

ol#best_types {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}
ol#best_types li {
  float: left;
}