<div class="col-md-12">
<h2>WTF?</h2>
<div class="row">
<div class="col-md-6">
<%= image_tag asset_path("wat.jpg"), style: "width: 200px;" %>
</div>
</div>
<div class="col-md-6">
<h3>The Short Answer (TL;DR)</h3>
<p>I'm doing research on Internet Memes and how they are used when we interact online. I've been collecting samples for over a year and used those samples to make some silly games (check the top!). The games will help my research.</p>
<p>It's all free, and I only require sign-in so you don't see repeats and so I can understand your responses better.</p>
<p>Feel free to do as few or as many you like -- the more you do the more it helps.</p>
<p>Thanks!</p>
</div>
<div class="col-md-6">
<h3>The Longer Answer</h3>
<p>Despite the sensationalist claims of some that "internet memes are dead" (at least the image macro variety) they're still being used, although there are more derivations and variations appearing more prevalently (especially since reaction Gifs (pronounced: "ZHaifs") have become easier to share). They're also still fresh enough in the collective consciousness that the latent comprehension should persist.</p>
<p>I think we can use these Image Macros to better understand how non-verbal visual communication is used, and that the findings might be applicable to other media such as Emoji, Reaction Gifs, and other communication shorthand.</p>
<p>My thesis, essentially, is that Internet Memes carry implicit meaning and I want to know more about what that meaning is and whether those meanings are intuitive or arbitrary.</p>
<h4>But WHY?</h4>
<p>A couple reasons.</p>
<p>The initial reason is kind of silly, but it's what started it all. I would occasionally get into discussions with people about whether "Socially Awkward Penguin" or "Uncomfortable Situation Seal" was the correct meme to use in a given instance. The absurdity of this argument was not lost on me and it led me to ask myself "Well, <em>why</em> do to they mean what they do?"</p>
<p>My main understanding that I'm testing right now is that the meanings are emergent properties of a convergent understanding -- that is, the meanings are NOT arbitrarily assigned, exactly, but rather that product of a "wisdom of crowds" situation. Given this, using a meme in a way that's consistent with how the majority uses it, as opposed to using it however you would like, creates clearer communication that more quickly transmits the feeling you're trying to convey.</p>
<p>The best modern example of this I can think of right now is the concept of "Netflix &amp; Chill", which in modern parlance essentially means "sexytime". Communication would effectively breakdown if this innuendo was used to mean different things (imagine a conversation between someone who literally meant "watch movies and hangout socially" and one who meant "sexytime").</p>
<h4>The Tech</h4>
<p>This site is built on Ruby on Rails. I'm a web developer by day. I collect the data using a Ruby script that I wrote; it pulls down samples from the Internet every night and parses them into a database. For a while I had to run it manually every week or so, so it's nice to have it running automatically now.</p>
<p>For the time being, I'm requiring a Facebook authentication only, but I will add Twitter / Google / OAuth at a later date, once it's running.</p>
<p>The scripts behind this will <em>probably</em> be open-sourced after I get some usable data.</p>
<h4>OK, but now what?</h4>
<p>I'm presenting some of my findings at PSU Web: Elements in June, in a almost-certainly-Tony-and-maybe-Oscar-winning presentation titled <em>Fantastic Memes and How To Use Them</em> -- I will post the slides up here afterwards.</p>
<p>After that? I'm not sure. It would be fun to continue this study over a longer period of time, but perhaps also incorporate other more modern studies, such as the rise of "Minion Memes" (memes where the sentiment is told more directly in the text and the image is more for illustrative context, often using the animated "Minion" characters).</p>
<p>It will all depend on how this initial round of data collection goes, so please, do some of the games! :) Thank you!</p>
</div>
</div>