<%# add navigation links to this file %>
<li><%= link_to_unless_current "Types", meme_types_path %></li>
<li><%= link_to_unless_current "Memes", memes_path %></li>
<li><%= link_to_unless_current "Memetype Association", new_games_memetype_association_path %></li>