<div id="user_data">
  <ul style="display:inline; list-style: none;">
    <li>Hello, <%= current_user.name %></li>
    <li>Scores | MemetypeAssociation: <%= @user_metadata["games"]["memetype_association"] %></li>
  </ul>
</div>