<div id="user_data">
  <ul style="display:inline; list-style: none;">
    <li>Hello, <%= current_user.name %></li>
    <li>Scores | Which Text Fits?: <%= @user_metadata["games"]["memetype_association"] %> | Which Meme Fits?: <%= @user_metadata["games"]["typememe_association"] %></li>
  </ul>
</div>